.main {
    text-align: center;
    margin-top: 100px;
  }
  h2 {
    padding-bottom: 50px;
  }
  .button {
    padding: 50px;
    margin: 10px;
    border: 2px solid #32bbfb;
  }
  #grey {
    background-color: grey;
  }
  #green {
    background-color: green;
  }
  #yellow {
    background-color: yellow;
  }
  #purple {
    background-color: purple;
  }